@use "../general/general";

.container {
  margin: auto 20% ;
  max-width: general.$variables-container;
  width: 60%;
}

.row {
  display: flex;
  min-height: 1px;
  flex-direction: column;
  align-items: center;
}
