$container : 1200px;

.container {
  margin-left: 20%;
  margin-right: 20%;
  max-width: $container;
  width: 60%;
}

.row {
  display: flex;
  min-height: 1px;
  flex-direction: column;
  align-items: center;
}
