@use "../../styles/general/general";

.btn {
  border-radius: 5px;
  border: none;
  color: general.$colors-outline;
  padding: 10px 20px;
}
.primary { background-color: general.$colors-add; }
.secondary { background-color: general.$colors-done; }
.secondaryAlt { background-color: general.$colors-doneAlt; }
.adjacent { background-color: general.$colors-remove; }

.small { padding: 5px 6px; font-size: 0.75rem; }
.medium { padding: 5px 10px; font-size: 1rem; }
.large { padding: 5px 10px; font-size: 1.2rem; }