@use "../../styles/general/general";

.list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  .undone { background-color: general.$colors-undone;}
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid general.$colors-outline;
    padding: 5px 10px;
    color: general.$colors-text;
    gap:10px;
    font-size: 0.75rem;
    .actions { display: flex; gap: 0.5em; }
    .done { text-decoration: none; }
    .undone { text-decoration: line-through; color: general.$colors-undoneAlt;}
  }
}